body{
    margin: 0;
    font-family: sans-serif;
}

.section{
    background-color: #f2395a;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heading{
    margin-left: 10%;
    position: absolute;
    transition: 1s;
    transform: translateX(0%);
}

.heading:hover{
    transform: translateX(300px) rotateX(-15deg);
}

.phone, .tablet, .desctop{
    background-color: #f2395a;
    box-shadow: 13px 13px 32px 0 rgba(242, 57, 90, .3);
    position: absolute;
    transition: .5s;
    transform: translateY(100%);
    perspective: 1000px;
}
 
.section:hover .phone,.section:hover .tablet,
.section:hover .desctop{
    transform: translateY(10px) rotateY(-15deg);
}

.phone{
    width: 200px;
    height: 280px;
    left: 5%;
    bottom: 0;
    background: #fff url() center no-repeat;
    z-index: 3;
    transition-delay: .1s;
}

.tablet{
    width: 360px;
    height: 380px;
    background:#fff url();
    bottom:0;
    left: 10%;
    z-index: 1;
    transition-delay: .3s;
}

.desctop{
    width: 680px;
    height: 480px;
    background: #fff url();
    bottom: 0;
    left: 15%;
    transition-delay: .5s;
    
}